# Python virtual environment
.venv/
venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Local databases (SQLite)
*.db
*.sqlite3

# Vercel deployment folder
.vercel/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
